<h1>GraphFinder Wrapper REST service for OKBQA</h1>
<h2>Usage</h2>
Post your data as follows
<pre>
curl -H "Content-Type:application/json" -d '{"template":{}, "disambiguation":{}}' http://server.domain/queries
</pre>

You will get an array of SPARQL queries representing the template and disambiguation.</li>
